<% if @carexp.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

    <ul>

      <% @carexp.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

    </ul>

<% end %>

<%= form_for @carexp do |f| %>


    <div>
      
      <h3>Monthly</h3>
      <%=  f.label :insurance %> <br>
      <%=  f.text_field :insurance %> <br>

      <%=  f.label :payment %> <br>
      <%=  f.text_field :payment %> <br>

      <h3>Yearly</h3>
      <%=  f.label :gas %> <br>
      <%=  f.text_field :gas %> <br>

      <%=  f.label :maintenance %> <br>
      <%=  f.text_field :maintenance %> <br>

      <%=  f.label :taxes %> <br>
      <%=  f.text_field :taxes %> <br>

    </div>

  <%= f.submit %>

  <p>
  <%= link_to "View Car Expenses", carexps_path %>
  </p>

  <p>
  <%= link_to "Home", root_path %>
  </p>

<% end %>
