<% if @carexp.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

    <ul>

      <% @carexp.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

    </ul>

<% end %>

<%= render 'forms/car' %>

<p>
<%= link_to "View Car Expenses", carexps_path %>
</p>

<p>
<%= link_to "Update Expenses", edit_carexp_path(current_user)%>
</p>

<p>
<%= link_to "Home", root_path %>
</p>
