<div class="variables">
  <% if !(@user.carexp.nil?) %>
    <% gas = @user.carexp.gas %>
    <% insurance = @user.carexp.insurance %>
    <% maintenance = @user.carexp.maintenance %>
    <% taxes = @user.carexp.taxes %>
    <% payment = @user.carexp.payment %>
    <% total = gas + insurance + maintenance + taxes + payment %>
  <% end %>
</div>


<h1>Overview of your car expenses.</h1>

<table class="table">
<tr>
  <th></th>
  <th>Daily</th>
  <th>Weekly</th>
  <th>Biweekly</th>
  <th>Monthly</th>
  <th>Yearly</th>
</tr>

<tr id="gas">
  <td>Gas</td>
  <td>$<%= (gas / 365).round(2) %></td>
  <td>$<%= (gas / 52).round(2) %></td>
  <td>$<%= (gas / 26).round(2) %></td>
  <td>$<%= (gas / 12).round(2) %></td>
  <td>$<%= gas.round(2) %></td>
</tr>

<tr id="maintenance">
  <td>Maintenance</td>
  <td>$<%= (maintenance / 365).round(2) %></td>
  <td>$<%= (maintenance / 52).round(2) %></td>
  <td>$<%= (maintenance / 26).round(2) %></td>
  <td>$<%= (maintenance / 12).round(2) %></td>
  <td>$<%= maintenance.round(2) %></td>
</tr>

<tr id="insurance">
  <td>Insurance</td>
  <td>$<%= (insurance / 365).round(2) %></td>
  <td>$<%= (insurance / 52).round(2) %></td>
  <td>$<%= (insurance / 26).round(2) %></td>
  <td>$<%= (insurance / 12).round(2) %></td>
  <td>$<%= insurance.round(2) %></td>
</tr>

<tr id="taxes">
  <td>Taxes</td>
  <td>$<%= (taxes / 365).round(2) %></td>
  <td>$<%= (taxes / 52).round(2) %></td>
  <td>$<%= (taxes / 26).round(2) %></td>
  <td>$<%= (taxes / 12).round(2) %> </td>
  <td>$<%= taxes.round(2) %></td>
</tr>

<tr id="payment">
  <td>Payment</td>
  <td>$<%= (payment / 365).round(2) %></td>
  <td>$<%= (payment / 52).round(2) %></td>
  <td>$<%= (payment / 26).round(2) %></td>
  <td>$<%= (payment / 12).round(2) %> </td>
  <td>$<%= payment.round(2) %></td>
</tr>

<tr id="car_totals">
  <td>Total Car Expenses</td>
  <td>$<%= (total / 365).round(2) %></td>
  <td>$<%= (total / 52).round(2) %></td>
  <td>$<%= (total / 26).round(2) %></td>
  <td>$<%= (total / 12).round(2) %></td>
  <td>$<%= total.round(2) %></td>
</tr>

</table>

<p>
<%= link_to "Add Expenses", new_carexp_path %>
</p>

<p>
<%= link_to "Update Expenses", edit_carexp_path(current_user)%>
</p>

<p>
<%= link_to "Home", root_path %>
</p>
