
  <div class="variables">
    <% if !(@user.housingexp.nil?) %>
      <% mortgage = 12 * (@user.housingexp.mortgage) %>
      <% electricity = (@user.housingexp.electricity) %>
      <% heating = 12 * (@user.housingexp.heating) %>
      <% water = 12 * (@user.housingexp.water) %>
      <% entertainment = 12 * (@user.housingexp.entertainment) %>
      <% propertytax = (@user.housingexp.propertytax) %>
      <% utilities = electricity + heating + water + entertainment  %>
    <% end %>
  </div>

<h2 class="title">View your expenses for the housing module below: </h2>

<table class="table">
<tr>
  <th></th>
  <th>Daily</th>
  <th>Weekly</th>
  <th>Biweekly</th>
  <th>Monthly</th>
  <th>Yearly</th>
</tr>

<tr id="mortgage">
  <td>Mortgage</td>
  <td>$<%= (mortgage / 365.00).round(2) %></td>
  <td>$<%= (mortgage / 52.00).round(2) %></td>
  <td>$<%= (mortgage / 26.00).round(2) %></td>
  <td>$<%= (mortgage / 12.00).round(2) %></td>
  <td>$<%= mortgage %></td>
</tr>

<tr id="electricity">
  <td>Utilities</td>
  <td>$<%= (electricity / 365).round(2) %></td>
  <td>$<%= (utilities / 52).round(2) %></td>
  <td>$<%= (utilities / 26).round(2) %></td>
  <td>$<%= (utilities / 12).round(2) %></td>
  <td>$<%= utilities.round(2) %></td>
</tr>

<tr id="propertytax">
  <td>Property Tax</td>
  <td>$<%= (propertytax / 365).round(2) %></td>
  <td>$<%= (propertytax / 52).round(2) %></td>
  <td>$<%= (propertytax / 26).round(2) %></td>
  <td>$<%= (propertytax / 12).round(2) %></td>
  <td>$<%= (propertytax).round(2) %> </td>
</tr>

<tr id="housing_totals">
  <td class="index_total">Total House Expenses</td>
  <td>$<%= ((mortgage + utilities + propertytax) / 365).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax) / 52).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax) / 26).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax) / 12).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax)).round(2) %></td>
</tr>

</table>

<%= link_to "Update Expenses", edit_housingexp_path(current_user), class: "btn btn-secondary"%>
