
  <div class="variables">
    <% if Housingexp.count != 0 %>
      <% mortgage = 12 * (Housingexp.last.mortgage) %>
      <% electricity = (Housingexp.last.electricity) %>
      <% heating = 12 * (Housingexp.last.heating) %>
      <% water = 12 * (Housingexp.last.water) %>
      <% entertainment = 12 * (Housingexp.last.entertainment) %>
      <% propertytax = (Housingexp.last.propertytax) %>
      <% utilities = electricity + heating + water + entertainment  %>
    <% end %>
  </div>

<h1>View your expenses for the housing module below: </h1>

<table>
<tr>
  <th></th>
  <th>Daily</th>
  <th>Weekly</th>
  <th>Biweekly</th>
  <th>Monthly</th>
  <th>Yearly</th>
</tr>

<tr id="mortgage">
  <td>Mortgage</td>
  <td>$<%= (mortgage / 365.00).round(2) %></td>
  <td>$<%= (mortgage / 52.00).round(2) %></td>
  <td>$<%= (mortgage / 26.00).round(2) %></td>
  <td>$<%= (mortgage / 12.00).round(2) %></td>
  <td>$<%= mortgage %></td>
</tr>

<tr id="electricity">
  <td>Utilities</td>
  <td>$<%= (electricity / 365).round(2) %></td>
  <td>$<%= (utilities / 52).round(2) %></td>
  <td>$<%= (utilities / 26).round(2) %></td>
  <td>$<%= (utilities / 12).round(2) %></td>
  <td>$<%= utilities.round(2) %></td>
</tr>

<tr id="propertytax">
  <td>Property Tax</td>
  <td>$<%= (propertytax / 365).round(2) %></td>
  <td>$<%= (propertytax / 52).round(2) %></td>
  <td>$<%= (propertytax / 26).round(2) %></td>
  <td>$<%= (propertytax / 12).round(2) %></td>
  <td>$<%= (propertytax).round(2) %> </td>
</tr>

<tr id="housing_totals">
  <td>Total House Expenses</td>
  <td>$<%= ((mortgage + utilities + propertytax) / 365).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax) / 52).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax) / 26).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax) / 12).round(2) %></td>
  <td>$<%= ((mortgage + utilities + propertytax)).round(2) %></td>
</tr>

</table>

<p>
  <%= link_to "Add Expenses", new_housingexp_path %>
</p>

<p>
  <%= link_to "Master Expenses Sheet", master_path %>
</p>

<p>
  <%= link_to "Home", root_path %>
</p>

<p>
<%= link_to "Update Expenses", edit_housingexp_path(Housingexp.last) if Housingexp.count > 0 %>
</p>
