<div class="variables">
  <% mortgage = 12 * (Housingexp.last.mortgage) %>
  <% electricity = (Housingexp.last.electricity) %>
  <% heating = 12 * (Housingexp.last.heating) %>
  <% water = 12 * (Housingexp.last.water) %>
  <% entertainment = 12 * (Housingexp.last.entertainment) %>
  <% propertytax = (Housingexp.last.propertytax) %>
  <% utilities = electricity + heating + water + entertainment  %>
</div>

<h1>View your expenses for the housing module below: </h1>

<table>
<tr>
  <th></th>
  <th>Daily</th>
  <th>Weekly</th>
  <th>Biweekly</th>
  <th>Monthly</th>
  <th>Yearly</th>
</tr>

<tr id="mortgage">
  <td>Mortgage</td>
  <td>$<%= (mortgage / 365).round(2) %></td>
  <td>$<%= (mortgage / 52).round(2) %></td>
  <td>$<%= (mortgage / 26).round(2) %></td>
  <td>$<%= (mortgage / 12).round(2) %></td>
  <td>$<%= mortgage %></td>
</tr>

<tr id="electricity">
  <td>Utilities</td>
  <td>$<%= electricity / 365 %></td>
  <td>$<%= utilities / 52 %></td>
  <td>$<%= utilities / 26 %></td>
  <td>$<%= utilities / 12 %></td>
  <td>$<%= utilities%></td>
</tr>

<tr id="propertytax">
  <td>Property Tax</td>
  <td>$<%= propertytax / 365 %></td>
  <td>$<%= propertytax / 52 %></td>
  <td>$<%= propertytax / 26 %></td>
  <td>$<%= propertytax / 12 %></td>
  <td>$<%= propertytax%> </td>
</tr>

<tr id="housing_totals">
  <td>Total Car Expenses</td>
  <td>$<%= (mortgage + utilities + propertytax) / 365 %></td>
  <td>$<%= (mortgage + utilities + propertytax) / 52 %></td>
  <td>$<%= (mortgage + utilities + propertytax) / 26 %></td>
  <td>$<%= (mortgage + utilities + propertytax) / 12 %></td>
  <td>$<%= (mortgage + utilities + propertytax) %></td>
</tr>

</table>

<p>
  <%= link_to "Add Expenses", new_housingexp_path %>
</p>

<p>
  <%= link_to "Master Expenses Sheet", master_path %>
</p>

<p>
  <%= link_to "Home", root_path %>
</p>
