<h2 class="title">Add your food expenses.</h2>

<% if @housingexp.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

    <ul>

      <% @housingexp.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

    </ul>

<% end %>

<div class="container">

    <%= form_for @housingexp do |f| %>

    <h3>Monthly</h3>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <%= f.submit "Add Food Expenses", class: "btn btn-primary form-control" %>

    <% end %>

</div>


//starts housing form





  <div>


      <%= f.label :mortgage %><br>
      <%= f.text_field :mortgage  %> <br>

      <%= f.label :electricity %><br>
      <%= f.text_field :electricity  %> <br>

      <%= f.label :water %><br>
      <%= f.text_field :water  %> <br>

      <%= f.label :heating %><br>
      <%= f.text_field :heating  %> <br>

      <%= f.label :entertainment %><br>
      <%= f.text_field :entertainment  %> <br>

    <h3>Yearly</h3>

      <%= f.label :propertytax %><br>
      <%= f.text_field :propertytax  %> <br>

    <%= f.submit %>

  </div>


<% end %>

<%= link_to "View All Housing Expenses", housingexps_path %> <br>
<%= link_to "View Master Expense Sheet", master_path %>
<p>
<%= link_to "Update Expenses", edit_housingexp_path(current_user)%>
</p>
