<h1> Hello and welcome to the finances application home page. </h1>

Create users branch.

<%= link_to "Cars Module", carexps_path %><br>
<%= link_to "Housing Module", housingexps_path %><br>
<%= link_to "Taxes Module", taxes_path %><br>
<%= link_to "Food Module", foodexps_path %><br>
<%= link_to "View All Expenses", master_path %>
