<div class="variables">
  <% totalexpenses = 0 %>
</div>

<h1> This is the Master Overview page: </h1>

<% if Tax.count != 0 %>
  <h2>Your current salary: <%= Tax.last.salary %> <%= link_to 'change', taxes_path  %> </h2>
<% end %>

<table>
  <tr>
    <th></th>
    <th>Daily</th>
    <th>Weekly</th>
    <th>Biweekly</th>
    <th>Monthly</th>
    <th>Yearly</th>
  </tr>

  <tr id="housing">
    <% if Housingexp.count != 0 %>
      <% housingtotal = ((Housingexp.last.mortgage) +
      (Housingexp.last.utilities) + (Housingexp.last.propertytax)) %>
      <% totalexpenses += housingtotal %>

      <td>Housing</td>
      <td><%= housingtotal / 365 %></td>
      <td><%= housingtotal / 52 %></td>
      <td><%= housingtotal / 26 %></td>
      <td><%= housingtotal / 12 %></td>
      <td><%= housingtotal %></td>

    <% else %>

      <td>Housing</td>
      <td>Housing expenses not added. <%= link_to 'Add Expenses', new_housingexp_path %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>

  <tr id="car">
    <% if Carexp.count != 0 %>

      <% cartotal = ((Carexp.last.gas) +
      (Carexp.last.maintenance) + (Carexp.last.insurance) +
      (Carexp.last.taxes)) %>
      <% totalexpenses += cartotal %>

      <td>Car</td>
      <td><%= cartotal / 365 %></td>
      <td><%= cartotal / 52 %></td>
      <td><%= cartotal / 26 %></td>
      <td><%= cartotal / 12 %></td>
      <td><%= cartotal %></td>

    <% else %>

      <td>Car</td>
      <td>Car expenses not added. <%= link_to 'Add Expenses', new_carexp_path %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    <% end %>
  </tr>

  <tr id="food">
    <% if Foodexp.count != 0 %>

      <% foodtotal = (12 * (Foodexp.last.monthlyfood)) %>
      <% totalexpenses += foodtotal %>

      <td>Food</td>
      <td><%= foodtotal / 365 %></td>
      <td><%= foodtotal / 52 %></td>
      <td><%= foodtotal / 26 %></td>
      <td><%= foodtotal / 12 %></td>
      <td><%= foodtotal %></td>
    <% else %>
      <td>Food</td>
      <td>Food expenses not added. <%= link_to 'Add Expenses', new_foodexp_path %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>

  <tr id="taxes">
    <% if Tax.count != 0 %>

      <% taxtotal = (Tax.last.salary * 0.0875) + Tax.last.sincome + Tax.last.fincome %>
      <% totalexpenses += taxtotal %>

      <td>Taxes</td>
      <td><%= taxtotal / 365 %></td>
      <td><%= taxtotal / 52 %></td>
      <td><%= taxtotal / 26 %></td>
      <td><%= taxtotal / 12 %></td>
      <td><%= taxtotal %></td>

    <% else %>

      <td>Taxes</td>
      <td>Tax information not added. <%= link_to 'Add Expenses', new_tax_path %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>

  <tr id="totals">

      <td>Expense Totals</td>
      <td><%= totalexpenses / 365 %></td>
      <td><%= totalexpenses / 52 %></td>
      <td><%= totalexpenses / 26 %></td>
      <td><%= totalexpenses / 12 %></td>
      <td><%= totalexpenses %></td>

  </tr>

  <tr id = "remaining">
    <% if Tax.count > 0 %>
      <% remaining = Tax.last.salary - totalexpenses %>
      <td>Remaining Income</td>
      <td><%= remaining / 365 %></td>
      <td><%= remaining / 52 %></td>
      <td><%= remaining / 26 %></td>
      <td><%= remaining / 12 %></td>
      <td><%= remaining %></td>
    <% end %>
  </tr>
</table>

<p>
  <%= link_to "Cars Module", carexps_path %><br>
  <%= link_to "Housing Module", housingexps_path %><br>
  <%= link_to "Taxes Module", taxes_path %><br>
  <%= link_to "Food Module", foodexps_path %><br>
  <%= link_to "Home", root_path %><br>
</p>
