<div class="variables">
  <% totalexpenses = 0 %>
</div>

<h1> This is the Master Overview page: </h1>

<br><br>

<h2>Your account: <%= @user.email %></h2>

<% if @user.spec.nil? %>
  <h2>No salary added.</h2><%= link_to "Add salary", new_spec_path %>
<% else %>
  <h2>Your salary is: <%= @user.spec.salary %></h2><%= link_to "Change salary", edit_spec_path(current_user) %>
<% end %>

<table>
    <tr>
      <th></th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>Biweekly</th>
      <th>Monthly</th>
      <th>Yearly</th>
    </tr>

    <tr id="housing">
      <% if @user.housingexp.nil? %>

        <td>Housing</td>
        <td>Housing expenses not added. <%= link_to 'Add Expenses', new_housingexp_path %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      <% else %>

        <% housingtotal = ((@user.housingexp.mortgage) +
        (@user.housingexp.electricity) + (@user.housingexp.water) +
        (@user.housingexp.propertytax) + (@user.housingexp.heating) +
        (@user.housingexp.entertainment)) %>
        <% totalexpenses += housingtotal %>

        <td><%= link_to "Housing", housingexps_path %></td>
        <td>$<%= (housingtotal / 365).round(2) %></td>
        <td>$<%= (housingtotal / 52).round(2) %></td>
        <td>$<%= (housingtotal / 26).round(2) %></td>
        <td>$<%= (housingtotal / 12).round(2) %></td>
        <td>$<%= (housingtotal).round(2) %></td>

      <% end %>
    </tr>

    <tr id="car">
      <% if @user.carexp.nil? %>

        <td>Car</td>
        <td>Car expenses not added. <%= link_to 'Add Expenses', new_carexp_path %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      <% else %>

        <% cartotal = ((@user.carexp.gas) +
        (@user.carexp.maintenance) + (@user.carexp.insurance) +
        (@user.carexp.taxes)) %>
        <% totalexpenses += cartotal %>

        <td><%= link_to "Car", carexps_path %></td>
        <td>$<%= (cartotal / 365).round(2) %></td>
        <td>$<%= (cartotal / 52).round(2) %></td>
        <td>$<%= (cartotal / 26).round(2) %></td>
        <td>$<%= (cartotal / 12).round(2) %></td>
        <td>$<%= (cartotal).round(2) %></td>

      <% end %>
    </tr>

    <tr id="food">
      <% if @user.foodexp.nil? %>

        <td>Food</td>
        <td>Food expenses not added. <%= link_to 'Add Expenses', new_foodexp_path %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      <% else %>

        <% foodtotal = (12 * (@user.foodexp.monthlyfood)) %>
        <% totalexpenses += foodtotal %>

        <td><%= link_to "Food", foodexps_path %></td>
        <td>$<%= (foodtotal / 365).round(2) %></td>
        <td>$<%= (foodtotal / 52).round(2) %></td>
        <td>$<%= (foodtotal / 26).round(2) %></td>
        <td>$<%= (foodtotal / 12).round(2) %></td>
        <td>$<%= (foodtotal).round(2) %></td>

      <% end %>
    </tr>

    <tr id="taxes">
      <% if @user.tax.nil? %>

        <td>Taxes</td>
        <td>Tax information not added. <%= link_to 'Add Expenses', new_tax_path %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      <% elsif @user.spec.nil? %>

        <td>Taxes</td>
        <td>Salary needed to calculate taxes. <%= link_to 'Add Salary', new_spec_path %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      <% else %>

        <% taxtotal = (@user.spec.salary * 0.0875) + @user.tax.sincome + @user.tax.fincome %>
        <% totalexpenses += taxtotal %>

        <td><%= link_to "Taxes", taxes_path %></td>
        <td>$<%= (taxtotal / 365).round(2) %></td>
        <td>$<%= (taxtotal / 52).round(2) %></td>
        <td>$<%= (taxtotal / 26).round(2) %></td>
        <td>$<%= (taxtotal / 12).round(2) %></td>
        <td>$<%= (taxtotal).round(2) %></td>

      <% end %>
    </tr>

    <tr id="expense_totals">
        <td>Expense Totals</td>
        <td>$<%= (totalexpenses / 365).round(2) %></td>
        <td>$<%= (totalexpenses / 52).round(2) %></td>
        <td>$<%= (totalexpenses / 26).round(2) %></td>
        <td>$<%= (totalexpenses / 12).round(2) %></td>
        <td>$<%= (totalexpenses).round(2) %></td>
    </tr>

</table>

<table  id = "remaining">
  <tr>
    <% if !(@user.spec.nil?) %>
      <% remaining = @user.spec.salary - totalexpenses %>
      <td>Remaining Income</td>
      <td>$<%= (remaining / 365).round(2) %></td>
      <td>$<%= (remaining / 52).round(2) %></td>
      <td>$<%= (remaining / 26).round(2) %></td>
      <td>$<%= (remaining / 12).round(2) %></td>
      <td>$<%= (remaining).round(2) %></td>
    <% end %>
  </tr>
</table>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
