<div class="variables">
  <%= monthlyfood = 12 * (Foodexp.last.monthlyfood) %>
</div>

<h1> Overview of your food expenses. </h1>

<table>
<tr>
  <th></th>
  <th>Daily</th>
  <th>Weekly</th>
  <th>Biweekly</th>
  <th>Monthly</th>
  <th>Yearly</th>
</tr>

<tr id="monthlyfood">
  <td>Monthly Food Costs</td>
  <td>$<%= (monthlyfood / 365).round(2) %></td>
  <td>$<%= (monthlyfood / 52).round(2) %></td>
  <td>$<%= (monthlyfood / 26).round(2) %></td>
  <td>$<%= (monthlyfood / 12).round(2) %></td>
  <td>$<%= monthlyfood.round(2) %></td>
</tr>

</table>


<p>
  <%= link_to "Add Expenses", new_foodexp_path %>
</p>

<p>
  <%= link_to "Master Expenses Sheet", master_path %>
</p>

<p>
  <%= link_to "Home", root_path %>
</p>
