<h1>Add your food expenses.</h1>

<% if @foodexp.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

    <ul>

      <% @foodexp.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

    </ul>

<% end %>

<%= form_for @foodexp do |f| %>

  <div class="newfood">

    <p>
      <%= f.label :monthlyfood, "Monthly Grocery Costs" %>
      <%= f.text_field :monthlyfood %>
    </p>

  </div>

<%= f.submit %>

<% end %>

<%= link_to 'Overview of Food Expenses', foodexps_path %> |
<%= link_to 'View all expenses', master_path %>
