<h2 class="title">Add your food expenses.</h2>

<% if @foodexp.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

    <ul>

      <% @foodexp.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

    </ul>

<% end %>

<div class="container">

    <%= form_for @foodexp do |f| %>

    <div class="form-group">
      <div class="field">
        <div class="newfood">

            <h3>Monthly</h3>
            <%= f.label :monthlyfood, "Monthly Grocery Costs" %>
            <%= f.text_field :monthlyfood %>

        </div>
      </div>
    </div>

    <%= f.submit "Add Food Expenses", class: "btn btn-primary form-control" %>

    <% end %>

</div>
