<div class="row">
  <div class="col-sm-6 offset-sm-3 form">

    <%= form_for @housingexp do |f| %>

    <h3>Monthly</h3>

    <div class="form-group">
      <div class="field">
        <%= f.label :mortgage %><br>
        <%= f.text_field :mortgage  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :propertytax %><br>
        <%= f.text_field :propertytax  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :firetax %><br>
        <%= f.text_field :firetax  %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :homeinsurance %><br>
        <%= f.text_field :homeinsurance %> <br>
      </div>
    </div>

    <%= f.submit "Add/Update Housing Expenses", class: "btn btn-primary form-control" %>

    <% end %>
  </div>
</div>
