<div class="row">
  <div class="col-sm-6 offset-sm-3 form">
    <%= form_for @miscexp do |f| %>

    <h3><strong>Monthly</strong></h3>

    <div class="form-group">
      <div class="field">
        <%=  f.label :healthinsurance %> <br>
        <%=  f.text_field :healthinsurance %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%=  f.label :entertainment %> <br>
        <%=  f.text_field :entertainment %> <br>
      </div>
    </div>

    <h3>Other Expenses</h3>

    <div class="form-group">
      <div class="field">
        <%=  f.label :other %> <br>
        <%=  f.text_field :other %> <br>
      </div>
    </div>

    <%= f.submit "Add/Update Miscellaneous Expenses", class: "btn btn-primary form-control" %>

    <% end %>
  </div>
</div>
