<div class="row">
  <div class="col-sm-6 offset-sm-3 form">
    <%= form_for @utility do |f| %>

    <h3><strong>Monthly</strong></h3>

    <div class="form-group">
      <div class="field">
        <%=  f.label :electricity %> <br>
        <%=  f.text_field :electricity %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%=  f.label :heating %> <br>
        <%=  f.text_field :heating %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%=  f.label :phone %> <br>
        <%=  f.text_field :phone %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%=  f.label :cable %> <br>
        <%=  f.text_field :cable %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%=  f.label :internet %> <br>
        <%=  f.text_field :internet %> <br>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%=  f.label :water %> <br>
        <%=  f.text_field :water %> <br>
      </div>
    </div>

    <%= f.submit "Add/Update Utility Expenses", class: "btn btn-primary form-control" %>

    <% end %>
  </div>
</div>
