<div class="variables">
  <%= state = Tax.last.sincome %>
  <%= federal = Tax.last.fincome %>
  <%= socialsecurity = (Tax.last.salary) * 0.062 %>
  <%= medicare = (Tax.last.salary) * 0.0145 %>
  <%= disability = (Tax.last.salary) * 0.011 %>
</div>

<h1>Overview of your income taxes. </h1>

<table>
  <tr>
    <td></td>
    <td>Daily</td>
    <td>Weekly</td>
    <td>Biweekly</td>
    <td>Monthly</td>
    <td>Yearly</td>
  </tr>

  <tr>
    <td>State Income Tax</td>
    <td><%= (state) / (365) %></td>
    <td><%= (state) / (52) %></td>
    <td><%= (state) / (26) %></td>
    <td><%= (state) / (12) %></td>
    <td><%= (state) %></td>
  </tr>

  <tr>
    <td>Federal Income Tax</td>
    <td><%= federal / 365%></td>
    <td><%= federal / 52 %></td>
    <td><%= federal / 26 %></td>
    <td><%= federal / 12 %></td>
    <td><%= federal %></td>
  </tr>

  <tr>
    <td>Social Security</td>
    <td><%= socialsecurity / 365 %></td>
    <td><%= socialsecurity / 52 %></td>
    <td><%= socialsecurity / 26 %></td>
    <td><%= socialsecurity / 12 %></td>
    <td><%= socialsecurity %></td>
  </tr>

  <tr>
    <td>Medicare</td>
    <td><%= medicare / 365 %></td>
    <td><%= medicare / 52 %></td>
    <td><%= medicare / 26 %></td>
    <td><%= medicare / 12 %></td>
    <td><%= medicare %></td>
  </tr>

  <tr>
    <td>Disability</td>
    <td><%= disability / 365 %></td>
    <td><%= disability / 52 %></td>
    <td><%= disability / 26 %></td>
    <td><%= disability / 12 %></td>
    <td><%= disability %></td>
  </tr>
</table>

<p><%= link_to 'Master Overview', master_path %></p>
<p><%= link_to 'Home', root_path %></p>
<p><%= link_to 'Append Tax Expenses', new_tax_path %></p>
