<div class="variables">
  <% state = Tax.last.sincome %>
  <% federal = Tax.last.fincome %>
  <% socialsecurity = (Spec.last.salary) * 0.062 %>
  <% medicare = (Spec.last.salary) * 0.0145 %>
  <% disability = (Spec.last.salary) * 0.011 %>
</div>

<h1>Overview of your income taxes. </h1>

<table>
  <tr>
    <td></td>
    <td>Daily</td>
    <td>Weekly</td>
    <td>Biweekly</td>
    <td>Monthly</td>
    <td>Yearly</td>
  </tr>

  <tr>
    <td>State Income Tax</td>
    <td>$<%= (state / 365).round(2) %></td>
    <td>$<%= (state / 52).round(2) %></td>
    <td>$<%= (state / 26).round(2) %></td>
    <td>$<%= (state / 12).round(2) %></td>
    <td>$<%= state.round(2) %></td>
  </tr>

  <tr>
    <td>Federal Income Tax</td>
    <td>$<%= (federal / 365).round(2) %></td>
    <td>$<%= (federal / 52).round(2) %></td>
    <td>$<%= (federal / 26).round(2) %></td>
    <td>$<%= (federal / 12).round(2) %></td>
    <td>$<%= federal.round(2) %></td>
  </tr>

  <tr>
    <td>Social Security</td>
    <td>$<%= (socialsecurity / 365).round(2) %></td>
    <td>$<%= (socialsecurity / 52).round(2) %></td>
    <td>$<%= (socialsecurity / 26).round(2) %></td>
    <td>$<%= (socialsecurity / 12).round(2) %></td>
    <td>$<%= socialsecurity.round(2) %></td>
  </tr>

  <tr>
    <td>Medicare</td>
    <td>$<%= (medicare / 365).round(2) %></td>
    <td>$<%= (medicare / 52).round(2) %></td>
    <td>$<%= (medicare / 26).round(2) %></td>
    <td>$<%= (medicare / 12).round(2) %></td>
    <td>$<%= medicare.round(2) %></td>
  </tr>

  <tr>
    <td>Disability</td>
    <td>$<%= (disability / 365).round(2) %></td>
    <td>$<%= (disability / 52).round(2) %></td>
    <td>$<%= (disability / 26).round(2) %></td>
    <td>$<%= (disability / 12).round(2) %></td>
    <td>$<%= disability.round(2) %></td>
  </tr>
</table>

<p>
  <%= link_to 'Master Overview', master_path %>
</p>

<p>
  <%= link_to 'Home', root_path %>
</p>

<p>
  <%= link_to "Update Expenses", edit_tax_path(Tax.last) if Tax.count > 0%>
</p>
