<div class="variables">
  <% sincome = @user.tax.sincome  %>
  <% fincome = @user.tax.fincome %>
  <% if !(@user.spec.nil?)%>
   <% salary = @user.spec.salary %>
  <% end  %>
  <% total = fincome + sincome + (salary * 0.062)  + (salary * 0.0145) + (salary * 0.011)  %>
</div>

<h2 class="title">Overview of your income taxes. </h2>

<table class="table">
  <tr>
    <td></td>
    <td>Daily</td>
    <td>Weekly</td>
    <td>Biweekly</td>
    <td>Monthly</td>
    <td>Yearly</td>
  </tr>

  <tr>
    <td>State Income Tax</td>
    <td>$<%= (sincome / 365).round(2) %></td>
    <td>$<%= (sincome / 52).round(2) %></td>
    <td>$<%= (sincome / 26).round(2) %></td>
    <td>$<%= (sincome / 12).round(2) %></td>
    <td>$<%= sincome.round(2) %></td>
  </tr>

  <tr>
    <td>Federal Income Tax</td>
    <td>$<%= (fincome / 365).round(2) %></td>
    <td>$<%= (fincome / 52).round(2) %></td>
    <td>$<%= (fincome / 26).round(2) %></td>
    <td>$<%= (fincome / 12).round(2) %></td>
    <td>$<%= fincome.round(2) %></td>
  </tr>

<% if @user.spec.nil? %>

<tr>
  <td>Social Security</td>
  <td>Salary not added. Add salary to calculate Social Security. <%= link_to 'Add Salary', new_spec_path %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>

<tr>
  <td>Medicare</td>
  <td>Salary not added. Add salary to calculate Medicare. <%= link_to 'Add Salary', new_spec_path %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>

<tr>
  <td>Disability</td>
  <td>Salary not added. Add salary to calculate Disability. <%= link_to 'Add Salary', new_spec_path %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>

<% else  %>
  <tr>
    <td>Social Security</td>
    <td>$<%= ((salary * 0.062) / 365).round(2) %></td>
    <td>$<%= ((salary * 0.062) / 52).round(2) %></td>
    <td>$<%= ((salary * 0.062) / 26).round(2) %></td>
    <td>$<%= ((salary * 0.062) / 12).round(2) %></td>
    <td>$<%= (salary * 0.062).round(2) %></td>
  </tr>

  <tr>
    <td>Medicare</td>
    <td>$<%= ((salary * 0.0145) / 365).round(2) %></td>
    <td>$<%= ((salary * 0.0145) / 52).round(2) %></td>
    <td>$<%= ((salary * 0.0145) / 26).round(2) %></td>
    <td>$<%= ((salary * 0.0145) / 12).round(2) %></td>
    <td>$<%= (salary * 0.0145).round(2) %></td>
  </tr>

  <tr>
    <td>Disability</td>
    <td>$<%= ((salary * 0.011) / 365).round(2) %></td>
    <td>$<%= ((salary * 0.011) / 52).round(2) %></td>
    <td>$<%= ((salary * 0.011) / 26).round(2) %></td>
    <td>$<%= ((salary * 0.011) / 12).round(2) %></td>
    <td>$<%= (salary * 0.011).round(2) %></td>
  </tr>

  <tr id="tax_totals">
    <td class="index_total">Total House Expenses</td>
    <td>$<%= (total / 365).round(2) %></td>
    <td>$<%= (total / 52).round(2) %></td>
    <td>$<%= (total / 26).round(2) %></td>
    <td>$<%= (total / 12).round(2) %></td>
    <td>$<%= (total).round(2) %></td>
  </tr>
  <% end  %>
</table>

  <%= link_to "Update Expenses", edit_tax_path(current_user), class: "btn btn-secondary"%>
