<h1>Fill out the form below to generate your tax expenses.</h1>

<%= form_for @tax do |f| %>

<p>
  <%= f.label :salary %>
  <%= f.text_field :salary %>
</p>

<p>
  <%= f.label :sincome, "State Income Tax" %>
  <%= f.text_field :sincome %>
</p>

<p>
  <%= f.label :fincome, "Federal Income Tax" %>
  <%= f.text_field :fincome %>
</p>


<%= f.submit %>

<%= link_to "Taxes Overview", taxes_path %>

<% end %>
