<h1>Fill out the form below to generate your tax expenses.</h1>

<% if @tax.errors.any? %>

  <h2>The following errors prevented the article from getting created</h2>

    <ul>

      <% @tax.errors.full_messages.each do |msg| %>

        <li><%= msg %></li>

      <% end %>

    </ul>

<% end %>

<%= form_for @tax do |f| %>


<h3>Yearly</h3>

<p>
  <%= f.label :sincome, "State Income Tax" %>
  <%= f.text_field :sincome %>
</p>

<p>
  <%= f.label :fincome, "Federal Income Tax" %>
  <%= f.text_field :fincome %>
</p>


<%= f.submit %>

<%= link_to "Taxes Overview", taxes_path %>
<p>
<%= link_to "Update Expenses", edit_tax_path(Tax.last) if Tax.count > 0 %>
</p>

<% end %>
