<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= render 'navigation/expensetracker' %>
  <%= render 'navigation/modules' %>
  <%= render 'navigation/master' %>
  <%= render 'shared/devisealerts' %>
  <%= yield %>

</div>



</body>
</html>
